* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #f2f2f2;
    --second-color: #f05510;
    --another-bgc: #d9dae0;
    --p-color: #111111;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 45px;
    font-weight: 700px;
    line-height: 1.1;
    margin-bottom: 15px;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

button.contact {
    margin-top: 20px;
    padding: 22px 60px;
    background-color: var(--second-color);
    border: none;
    border-radius: 40px;
}

button>a {
    color: white;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 2px;
}

button.contact:hover {
    animation: vibration .1s infinite;
}

@keyframes vibration {
    0% {
        transform: rotate(0.5deg);
    }

    25% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(-0.5deg);
    }

    75% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(0.5deg);
    }
}

img {
    width: 100%;
}

header {
    width: 80%;
    margin: auto;
}

header .row {
    padding: 15px;
    border-bottom: 1px solid #ededf0;
}

header .logo>img {
    width: 110px;
    height: 40px;
}

header .row .menu-btn {
    display: none;
    font-size: 30px;
    transition: all 0.5s;
}

header .row .menu-btn:hover {
    color: var(--second-color);
}

header .nav-btn ul {
    margin-top: 12px;
}

header .nav-btn ul li {
    padding-left: 25px;
}

header .nav-btn ul li a {
    color: var(--p-color);
    transition: all 0.3s;
    padding-bottom: 27px;
    position: relative;
}

header .nav-btn ul li a::before {
    content: "";
    position: absolute;
    width: 0%;
    border-radius: 50px;
    height: 5%;
    top: 98%;
    left: 0%;
    background-color: var(--second-color);
    transition: 0.3s linear;
}

header .nav-btn ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .nav-btn ul li a:hover {
    color: var(--second-color);
}

.responsive-nav {
    width: 100%;
    position: absolute;
    z-index: 25626256;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    transition: all 0.4s;
    height: 0px;
    overflow: hidden;
}

.responsive-nav ul {
    font-size: 26px;
    flex-direction: column;
    padding: 20px 0;
}

.responsive-nav ul li {
    margin-bottom: 10px;
}

.responsive-nav ul li a {
    color: white;
    transition: all 0.3s;
}

.responsive-nav ul li a:hover {
    color: var(--second-color);
}

.spinner {
    position: fixed;
    z-index: 54522;
    padding: 15px;
    bottom: 10px;
    right: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    transition: all 0.3s;
    opacity: 0;
    background-color: var(--second-color);
}

.spinner:hover {
    background-color: #000;
}

.spinner:hover::before {
    width: 0;
    left: 0;
}

.spinner i {
    font-size: 18px;
}

.about-company {
    padding: 100px 0 0 0;
    margin: auto;
    width: 80%;
    margin: auto;
}

.about-company h2 {
    letter-spacing: 2px;
    margin-bottom: 0;
}

.about-company h5 {
    color: #808080;
    font-size: 18px;
    line-height: 26px;
    font-style: italic;
    font-weight: 400;
    padding: 20px 0;
    padding-right: 700px;
}

.about-company p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
    margin-right: 520px;
}

.about-company button.contact:hover {
    background-color: #111111;
    transition: 0.3s;
}

.about-company .about-img {
    margin-top: 80px;
}

.about-company .about-img img {
    height: 680px;
}

.about-company .card {
    padding: 30px;
    background-color: var(--second-color);
    width: 40%;
    margin-left: 3%;
    transform: translateY(-220px);
    margin-bottom: -150px;
}

.about-company .card p {
    margin: 20px 0;
    color: white;
    padding-right: 50px;
}

.about-company .card p a {
    color: white;
    position: relative;
}

.about-company .card p a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    top: 100%;
    left: 0;
}

.Design-Services {
    padding: 100px 0 500px 0;
    width: 80%;
    margin: auto;
}

.Design-Services .head h4 {
    margin-bottom: 40px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.Design-Services .head h2 {
    margin-bottom: 20px;
}

.Design-Services .head p {
    font-size: 20px;
    margin-right: 750px;
    line-height: 30px;
    margin-bottom: 80px;
}

.Design-Services h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.Design-Services .row {
    margin-bottom: 30px;
}

.Design-Services .row .caption {
    width: 65%;
    text-align: left;
}

.Design-Services .row .caption p {
    font-size: 21px;
    line-height: 35px;
    margin-right: 80px;
}

.Design-Services .row .buttons {
    width: 35%;
}

.Design-Services .row .buttons button {
    width: 60%;
    padding: 22px 60px;
    background-color: var(--second-color);
    border: none;
    border-radius: 40px;
    transition: 0.4s;
}

.Design-Services .row .buttons button.top-btn {
    width: 80%;
    margin-bottom: 60px;
    position: relative;
}

.Design-Services .row .buttons .top-btn::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    background-color: #111111;
    top: 150%;
    left: 40%;
}

.Design-Services .row .buttons button:hover {
    background-color: #111111;
}

.Design-Services .offers h5 {
    font-size: 21px;
    color: #808080;
    margin-bottom: 10px;
    font-weight: 300;
    margin-left: 35px;
    position: relative;
}

.Design-Services .offers h5::before {
    content: "";
    height: 2px;
    width: 15px;
    background-color: #808080;
    position: absolute;
    top: 50%;
    left: -25px;
}

.how {
    background-color: var(--another-bgc);
}

.how .how-content {
    width: 80%;
    margin: auto;
    transform: translateY(-350px);
    margin-bottom: -250px;
}

.how .how-content h2 {
    text-align: center;
    margin: 50px;
    font-size: 55px;
}

.how .how-content .row .left,
.how .how-content .row .right {
    width: 50%;
    text-align: left;
}

.how .how-content .row p {
    font-size: 17px;
    font-weight: lighter;
    line-height: 25px;
}

.how .how-content .row .left p {
    padding-right: 100px;
}

.how .how-content .row .right button {
    padding: 18px 50px;
    background-color: var(--second-color);
    border: none;
    border-radius: 40px;
    transition: 0.4s;
    margin-top: 50px;
}

.how .how-content .row .right button:hover {
    background-color: #111111;
}

.interior-design {
    padding: 100px 0;
    background-image: linear-gradient(to bottom, #d9dae0 65%, white 90%);
}

.interior-design .interior-content {
    width: 80%;
    margin: auto;
}

.interior-design .interior-content h2 {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.interior-design .interior-content .row {
    width: 90%;
}

.interior-design .interior-content .row .card {
    width: 22%;
    background-color: #fff;
    padding: 60px 0;
    z-index: 2665;
}

.interior-design .interior-content .row .card h4 {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #666666;
}

.interior-design .interior-content .row .card h3 {
    font-size: 70px;
    color: var(--second-color);
}

.interior-design .interior-content img {
    transform: translateY(-110px);
    margin-bottom: -80px;
}

.interior-design .interior-content button {
    margin: auto;
    display: block;
}

.interior-design .interior-content button:hover {
    background-color: #111111;
    transition: 0.4s;
}

.our-way {
    background-color: var(--second-color);
    color: white;
    padding: 60px 0;
}

.our-way .our-way-content {
    width: 80%;
    margin: auto;
}

.our-way .our-way-content .head {
    text-align: center;
}

.our-way .our-way-content .head p {
    margin: 30px auto;
    width: 52%;
    font-size: 20px;
    line-height: 35px;
}

.our-way .our-way-content .card {
    width: 23%;
    text-align: left;
}

.our-way .our-way-content .card h3 {
    font-size: 55px;
    position: relative;
    margin-bottom: 80px;
}

.our-way .our-way-content .card h3::after {
    content: "";
    height: 50px;
    width: 50px;
    background-color: #f4c7b6;
    position: absolute;
    border-radius: 50px;
    top: 110%;
    left: 0;
}

.our-way .our-way-content .card p {
    font-size: 16px;
    padding-right: 40px;
}

.contacts {
    padding: 70px 0;
    background-color: var(--second-color);
}

.contacts .contact-card .row {
    padding: 30px 20px;
    background-color: #fff;
    width: 80%;
    margin: auto;
}

.contacts .contact-card .row .left {
    width: 49%;
}

.contacts .contact-card .row .left p {
    margin: 25px 0;
}

.contacts .contact-card .row .right {
    width: 48%;
}

.contacts .contact-card .row .right h4 {
    font-size: 35px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.contacts .contact-card .row .right p {
    margin: 25px 0;
    padding-right: 80px;
}

.contacts .contact-card .row .right input {
    height: 45px;
    width: 55%;
    padding-left: 10px;
    font-size: 18px;
    border-radius: 40px;
    color: #808080;
    border: 2px solid #d9dae0;
    background-color: #d9dae0;
}

.contacts .contact-card .row .right input:focus {
    border-color: var(--second-color);
    outline: none;
    transition: 0.3s;
}

.contacts .contact-card .row .right button {
    padding: 20px 50px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: var(--second-color);
    border: none;
    transition: all 0.2s;
}

.contacts .contact-card .row .right button:hover {
    background-color: #111111;
}

.contacts .contact-card .row .right button a {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.contacts .row2 {
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;
}

.contacts .row2 .card {
    width: 50%;
    padding-top: 30px;
}

.contacts .row2 .card i {
    font-size: 30px;
}

.contacts .row2 .card h3 {
    font-size: 22px;
    margin: 10px 0;
}

.contacts .row2 .card p {
    font-size: 18px;
    color: white;
}

footer {
    padding: 50px 0;
    text-align: center;
    background-color: #333333;
}

footer .copy p span {
    color: var(--second-color);
}

footer p {
    color: white;
    font-size: 14px;
    line-height: 25px;
}

footer .copy {
    margin-top: 90px;
}

footer .copy a {
    color: var(--second-color);
}

@media(max-width:950px) {
    h2 {
        font-size: 50px;
    }

    .heading {
        padding-top: 50px;
    }

    .heading p {
        padding: 40px 90px;
        color: #808080;
        font-size: 22px;
    }

    button.contact {
        margin: 30px 0;
        padding: 30px 75px;
    }

    button.contact>a {
        font-size: 18px;
    }

    header .logo>img {
        width: 120px;
        height: 45px;
    }

    header .row .menu-btn {
        display: block;
        margin-left: auto;
        margin-top: 5px;
    }

    header .nav-btn ul {
        display: none;
    }

    .about-company {
        padding: 50px 0 0 0;
    }

    .about-company h5 {
        color: #808080;
        font-size: 20px;
        padding-right: 50px;
    }

    .about-company p {
        font-size: 20px;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .about-company .about-img {
        margin-top: 30px;
    }

    .about-company .about-img img {
        height: 500px;
    }

    .about-company .card {
        padding: 30px;
        width: 55%;
        transform: translateY(-130px);
    }

    .about-company .card p {
        margin: 15px 0;
        padding-right: 0px;
        font-size: 24px;
    }

    .Design-Services {
        padding: 100px 0 300px 0;
    }

    .Design-Services .head h4 {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .Design-Services .head h2 {
        margin-bottom: 15px;
    }

    .Design-Services .head p {
        font-size: 22px;
        margin-right: 0px;
        margin-bottom: 60px;
    }

    .Design-Services h3 {
        font-size: 34px;
    }

    .Design-Services .row {
        margin-bottom: 30px;
    }

    .Design-Services .row .caption {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .Design-Services .row .caption p {
        font-size: 20px;
        margin-right: 0px;
    }

    .Design-Services .row .buttons {
        width: 100%;
    }

    .Design-Services .row .buttons button {
        width: 40%;
        padding: 25px 60px;
    }

    .Design-Services .row .buttons button a {
        font-size: 16px;
    }

    .Design-Services .row .buttons button.top-btn {
        width: 60%;
    }

    .Design-Services .offers h5 {
        font-size: 24px;
    }

    .how .how-content {
        transform: translateY(-200px);
        margin-bottom: -250px;
    }

    .how .how-content h2 {
        margin: 40px;
        font-size: 50px;
    }

    .how .how-content .row .left,
    .how .how-content .row .right {
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
    }

    .how .how-content .row p {
        font-size: 22px;
        line-height: 30px;
    }

    .how .how-content .row .left p {
        padding-right: 0px;
    }

    .how .how-content .row .right button {
        padding: 25px 50px;
        display: block;
        margin: 20px auto;
    }

    .how .how-content .row .right button a {
        font-size: 16px;
    }

    .interior-design {
        padding: 70px 0;
    }

    .interior-design .interior-content h2 {
        width: 100%;
        margin-bottom: 50px;
        font-size: 34px;
    }

    .interior-design .interior-content .row .card {
        width: 23%;
        padding: 40px 0;
    }

    .interior-design .interior-content .row .card h4 {
        letter-spacing: 1px;
        margin-bottom: 20px;
    }

    .interior-design .interior-content .row .card h3 {
        font-size: 60px;
    }

    .interior-design .interior-content img {
        transform: translateY(-90px);
        margin-bottom: -40px;
    }

    .our-way {
        padding: 50px 0;
    }

    .our-way .our-way-content .head p {
        margin: 20px auto 40px;
        width: 100%;
        font-size: 22px;
    }

    .our-way .our-way-content .card {
        width: 50%;
        margin-bottom: 25px;
        text-align: center;
    }

    .our-way .our-way-content .card h3 {
        font-size: 55px;
        letter-spacing: 3px;
        margin-bottom: 70px;
    }

    .our-way .our-way-content .card h3::after {
        content: "";
        height: 50px;
        width: 50px;
        background-color: #f4c7b6;
        position: absolute;
        border-radius: 50px;
        top: 110%;
        left: 42%;
    }

    .our-way .our-way-content .card p {
        font-size: 18px;
        padding-right: 0px;
    }

    .contacts {
        margin-top: -1px;
    }

    .contacts .contact-card .row {
        padding: 30px 20px;
        width: 90%;
    }

    .contacts .contact-card .row .left {
        width: 100%;
    }

    .contacts .contact-card .row .left p {
        font-size: 22px;
    }

    .contacts .contact-card .row .right {
        width: 100%;
    }

    .contacts .contact-card .row .right h4 {
        font-size: 38px;
    }

    .contacts .contact-card .row .right p {
        font-size: 22px;
        padding-right: 0;
    }

    .contacts .contact-card .row .right input {
        height: 55px;
        width: 90%;
        padding-left: 20px;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contacts .contact-card .row .right button a {
        font-size: 18px;
    }

    .contacts .row2 {
        width: 80%;
        margin: auto;
        text-align: center;
        color: white;
    }

    .contacts .row2 .card {
        width: 100%;
    }

    .contacts .row2 .card i {
        font-size: 38px;
    }

    .contacts .row2 .card h3 {
        font-size: 26px;
    }

    .contacts .row2 .card p {
        font-size: 20px;
        color: white;
    }

    footer .copy p span {
        color: var(--second-color);
    }

    footer p {
        font-size: 20px;
    }

    footer .copy {
        margin-top: 60px;
    }
}

@media(max-width:600px) {
    h2 {
        font-size: 28px;
    }

    .heading {
        padding-top: 50px;
    }

    .heading p {
        padding: 30px 45px;
        color: #808080;
        font-size: 17px;
    }

    button.contact {
        margin: 20px 0;
        padding: 20px 30px;
    }

    button.contact>a {
        font-size: 14px;
    }

    header .logo>img {
        width: 100px;
        height: 40px;
    }

    .about-company {
        padding: 30px 0 0 0;
        width: 90%;
    }

    .about-company h2 {
        font-size: 34px;
        text-align: center;
    }

    .about-company h5 {
        font-size: 20px;
        text-align: center;
        padding-right: 0;
    }

    .about-company p {
        font-size: 18px;
        margin-right: 0px;
        text-align: center;
    }

    .about-company button {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .about-company .about-img img {
        height: 350px;
    }

    .about-company .card {
        padding: 30px;
        width: 100%;
        margin-left: 0;
        transform: translateY(-5px);
        margin-bottom: 0px;
    }

    .about-company .card p {
        margin: 10px 0;
        font-size: 22px;
    }

    .Design-Services {
        padding: 50px 0 100px 0;
        width: 90%;
    }

    .Design-Services .head h4 {
        font-size: 20px;
    }

    .Design-Services .head p {
        font-size: 20px;
        margin-right: 0px;
        margin-bottom: 40px;
    }

    .Design-Services h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .Design-Services .row {
        margin-bottom: 20px;
    }

    .Design-Services .row .caption {
        width: 100%;
    }

    .Design-Services .row .caption p {
        font-size: 19px;
        margin-right: 0px;
    }

    .Design-Services .row .buttons {
        width: 100%;
    }

    .Design-Services .row .buttons button {
        width: 50%;
        padding: 20px 60px;
    }

    .Design-Services .row .buttons button a {
        font-size: 14px;
    }

    .Design-Services .row .buttons button.top-btn {
        width: 90%;
    }

    .Design-Services .row .buttons button:hover {
        background-color: #111111;
    }

    .Design-Services .offers h5 {
        font-size: 20px;
        margin-left: 20px;
    }

    .Design-Services .offers h5::before {
        content: "";
        height: 5px;
        width: 5px;
        border-radius: 50px;
        position: absolute;
        top: 40%;
        left: -15px;
    }

    .how .how-content {
        width: 90%;
        transform: translateY(-90px);
        margin-bottom: -150px;
    }

    .how .how-content img {
        height: 250px;
    }

    .how .how-content h2 {
        margin: 20px;
        font-size: 45px;
    }

    .how .how-content .row .left,
    .how .how-content .row .right {
        width: 100%;
        text-align: left;
    }

    .how .how-content .row p {
        font-size: 18px;
    }

    .how .how-content .row .left p {
        padding-right: 0px;
    }

    .how .how-content .row .right button {
        padding: 18px 50px;
    }

    .interior-design {
        padding: 50px 0;
    }

    .interior-design .interior-content {
        width: 90%;
    }

    .interior-design .interior-content h2 {
        width: 100%;
        margin-bottom: 40px;
        font-size: 25px;
    }

    .interior-design .interior-content .row .card {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
        padding: 30px 0;
    }

    .interior-design .interior-content .row .card h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .interior-design .interior-content img {
        transform: translateY(-70px);
        margin-bottom: -30px;
        height: 220px;
    }

    .our-way {
        padding: 40px 0;
    }

    .our-way .our-way-content {
        width: 90%;
    }

    .our-way .our-way-content .head p {
        margin: 10px auto;
        width: 100%;
        font-size: 18px;
        line-height: 25px;
    }

    .our-way .our-way-content .card {
        width: 100%;
        margin-top: 20px;
    }

    .our-way .our-way-content .card h3 {
        font-size: 45px;
        position: relative;
        margin-bottom: 80px;
    }

    .our-way .our-way-content .card p {
        font-size: 18px;
        padding-right: 0px;
    }

    .contacts {
        padding: 40px 0;
    }

    .contacts .contact-card .row {
        padding: 30px 20px;
        width: 95%;
    }

    .contacts .contact-card .row .left p {
        font-size: 18px;
        margin: 10px 0;
    }

    .contacts .contact-card .row .right {
        text-align: center;
    }

    .contacts .contact-card .row .right h4 {
        font-size: 32px;
    }

    .contacts .contact-card .row .right p {
        font-size: 18px;
        padding-right: 0px;
    }

    .contacts .contact-card .row .right input {
        height: 50px;
        width: 100%;
        padding-left: 20px;
        font-size: 16px;
    }

    .contacts .contact-card .row .right button {
        padding: 20px 50px;
    }

    .contacts .contact-card .row .right button a {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .contacts .row2 {
        width: 90%;
    }

    .contacts .row2 .card i {
        font-size: 30px;
    }

    .contacts .row2 .card h3 {
        font-size: 20px;
    }

    .contacts .row2 .card p {
        font-size: 16px;
        color: white;
    }

    footer p {
        font-size: 16px;
        padding: 0 20px;
    }

    footer .copy {
        margin-top: 40px;
    }

}